
.btn {
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
}

.btn-close{
    background-color: blue;
    padding: auto;
}

.btn-primary {
    background-color: #0d6efd;
    color: white;
}
.btn-secondary {
    background-color: lightcoral;
    color: white;
}
.btn-success {
    background-color: green;
    color: white;
}

.alert {
    background-color: #0d6efd;
    padding-top: 4px 30px;
}

.alert-primary {
    background-color: #0d6efd;
    color: white;
}

.alert-secondary {
    background-color: lightcoral;
    color: white;
}

.div {
    align-self: safe;
    text-align: center;
    padding: 3px 12px;
}